.form__save-button {
    width: 100%;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    border: 0;
    margin-top: 48px;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    transition: opacity 0.3s ease;
}

.form__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
.form__save-button {
    height: 46px;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 45px;
    padding: 0;
    }
}

